.homeContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;

	h3 {
		text-align: center;
	}

	.buttons {
		.btn {
			margin: 10px;
		}
	}
}


.carsListContent {
	padding: 20px;
	display: grid;
	grid-template-columns: 20% 80%;

	.filter {
		grid-column: 1/2;
		margin-right: 50px;
	}

	.listContent {
		grid-column: 2/3;
		display: flex;
		flex-direction: column;

		.topElements {
			width: 100%;
			height: 40px;
			margin-bottom: 10px;

			.buttons {
				box-sizing: border-box;
				float: left;
				margin-bottom: 10px;
				width: 50%;
	
				button {
					margin-left: 10px;
				}
			}
	
			.searchBox {
				box-sizing: border-box;
				float: left;
				width: 50%;
			}
		}

		.titleNoCars {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;
		}
	}
}


.addFormContent {
  	padding: 20px;
}

.loginContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;

	.formFields {
		width: 40%;

		.register-button {
			float: right;
		}
	}

	.title {
		text-align: center;
	}
}

.registerContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;

	.formFields {
		width: 40%;
	}

	.title {
		text-align: center;
	}
}

.navbar-nav {
	width: 100%;
	display: grid !important;
	grid-template-columns: 80% 20%;

	.mainMenu {
		grid-column: 1/2;
		display: flex;
	}

	.loginMenu {
		grid-column: 2/3;
		display: flex;
		justify-content: flex-end;
	}
}

.navPagination {
	display: flex;

	.page-item {
		cursor: pointer;
	}

	.custom-select {
		cursor: pointer;
		width: auto;
		margin-left: 40px;
	}

	button {
		box-shadow: none;
	}
}

.filter-list {
	li {
		cursor: pointer;
	}

	.li-inactive:hover {
		background-color: #dee2e6;
		border-color: #dee2e6;
	}
}

.usersListContent {
	padding: 20px;
	display: grid;
	grid-template-columns: 20% 80%;

	.filter {
		grid-column: 1/2;
		margin-right: 50px;
	}

	.table {
		grid-column: 2/3;

		.buttons {
			box-sizing: border-box;
			float: left;
			margin-bottom: 10px;
			width: 50%;

			button {
				margin-left: 10px;
			}
		}

		.searchBox {
			box-sizing: border-box;
			float: left;
			width: 50%;
		}
  	}
}

.contentBrandsList {
	padding: 20px;

	.contentTop {
		margin-bottom: 20px;
	}
}